
<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" #sidenav opened position="start" #drawer class="sidenav" fixedInViewport>

      <mat-toolbar >
          <h2 style="color:rgb(2, 88, 2); text-align: center; margin-left: 35px;">Connector Module </h2>
       </mat-toolbar>



  <mat-toolbar>
      Fonctionnalities 

  </mat-toolbar>

  <div class="box">
  <mat-card class="example-card" [routerLink]="['/login']">
      <img mat-card-image src="../../assets/img/users.jpg" height="150px">
      <mat-card-content>
          <h2 style="text-align: center;">
          Users management
          </h2>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" [routerLink]="['/materiel']">
      <img mat-card-image src="../../assets/img/project.png"   height="150px" >
      <mat-card-content>
        <h2 style="text-align: center;">
          Project managment
        </h2>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>


    <mat-card class="example-card">
      <img mat-card-image src="../../assets/img/conn.png" height="150px">
      <mat-card-content>
          <h2 style="text-align: center;">
          Connectors management
          </h2>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>





    <mat-card class="example-card">
      <img mat-card-image src="../../assets/img/conn.png" height="150px">
      <mat-card-content>
          <h2 style="text-align: center;">
              Connector JDBC management
              </h2>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>


    <mat-card class="example-card">

      <img mat-card-image src="../../assets/img/sched.png" height="150px">
      <mat-card-content>
          <h2 style="text-align: center;">
             Scheduler management
              </h2>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>


    <mat-card class="example-card">

      <img mat-card-image src="../../assets/img/log.png" height="150px">
      <mat-card-content>
          <h2 style="text-align: center;">
             Log file management
              </h2>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
    </div>










