<div *ngIf="viewMode; else editable">
  <div *ngIf="currentProject.id">
    <h4>Project</h4>
    <div>
      <label><strong>Name:</strong></label> {{ currentProject.name }}
    </div>
    <div>
      <label><strong>proxemToken</strong></label>
      {{ currentProject.proxemToken }}
    </div>


    <a
      class="badge badge-warning"
      routerLink="/projects/{{ currentProject.id }}"
    >
      Edit
    </a>
  </div>

  <div *ngIf="!currentProject">
    <br />
    <p>Please click on a Project...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentProject.id" class="edit-form">
    <h4>Project</h4>
    <form>
      <div class="form-group">
        <label for="title">Name</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentProject.name"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">proxemToken</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentProject.proxemToken"
          name="description"
        />
      </div>


    </form>


 

    <button class="badge badge-danger mr-2" (click)="deleteProject()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateProject()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentProject.id">
    <br />
    <p>Cannot access this Project...</p>
  </div>
</ng-template>
