/* Réinitialisation des marges et des rembourrages */
body, html {

  margin: 0;
  padding: 0;
}

/* Style pour centrer le contenu */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Style pour le formulaire éditable */
.edit-form {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Style pour les éléments de formulaire */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.select-text {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style pour le bouton de mise à jour */
button {
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

/* Style pour le message */
p {
  margin-top: 10px;
}









/*================================
Contact Pages Style
==================================*/
.contact-wrap-form {
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0,0.1);
  padding: 50px;

  p {
      text-align: center;
      color: #000;
      margin-bottom: 0;
  }
  .form-group {
      margin-bottom: 25px;

      .form-control {
          height: 50px;
          color: #2d3652;
          border: 1px solid #e8e8e8;
          background-color: #fcfcff;
          border-radius: 0;
          padding: 10px 20px;
          width: 100%;

          &:focus {
              outline: none;
              box-shadow: none;
              border-color: #2d3652;
          }
      }
      textarea.form-control {
          height: auto;
      }
  }
  .with-errors {
      float: left;
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 25px;
      color: #f00;
      font-weight: 400;
      display: block;
  }
  .default-btn {
      border: 0;
      outline: none;
  }
  .text-danger {
      font-size: 18px;
      margin-top: 15px;
  }
  .sign-social-icon {
      list-style: none;
      margin: 30px 0;
      padding: 0;

      li {
          display: inline-block;
          margin: 0 10px;

          a {
              font-size: 24px;
              height: 50px;
              line-height: 55px;
              width: 120px;
              background-color: #2d3652;
              color: #ffffff;
              text-align: center;
              border-radius: 5px;
              transition: 0.7s;

              &:hover {
                  background-color: #ff743c;
              }
          }
      }
  }
  .agree-label {
      label {
          font-weight: 600;
          color: #000;
          margin-left: 10px;
      }
  }
  .forget {
      margin-bottom: 15px;
      float: right;
      color: #ff743c;
      font-weight: 600;

      &:hover {
          color: #4356d6;
      }
  }
  .account-desc {
      margin-top: 15px;
      font-weight: 600;

      a {
          color: #ff743c;

          &:hover {
              color: #4356d6;
          }
      }
  }
  .sign-btn {
      padding: 12px 70px;
  }
  .recover-login {
      color: #ff4a35;
      font-weight: 600;margin-bottom: 15px;

      &:hover a {
          color: #4356d6;
      }
  }
  .recover-register {
      color: #000000;
      font-weight: 600;
      margin-bottom: 15px;

      a {
          color: #ff743c;

          &:hover {
              color: #4356d6;
          }
      }
  }
  .scetion-title {
      .recover-text {
          color: #000;
          margin-bottom: 25px;

          a {
              color: #ff743c;
              font-weight: 600;

              &:hover {
                  color: #4356d6;
              }
          }
      }
  }
}
.contact-wrap-form .form-group .form-control::-webkit-input-placeholder {
  color: #2d3652;
}
.contact-wrap-form .form-group .form-control:-ms-input-placeholder {
  color: #2d3652;
}
.contact-wrap-form .form-group .form-control::-ms-input-placeholder {
  color: #2d3652;
}
.contact-wrap-form .form-group .form-control::placeholder {
  color: #2d3652;
}
.sign-in-width {
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
}
 /* Contact Pages */
 .contact-wrap-form {
  padding: 30px;
  .form-group  {
      margin-bottom: 15px;
      .form-control {
          font-size: 14px;
      }
  }
  .with-errors {
      margin-bottom: 15px;
  }
  .sign-social-icon {
      li {
          a {
              font-size: 18px;
              height: 40px;
              line-height: 45px;
              width: 60px;
          }
      }
  }
  .forget {
      float: none;
  }
  .sign-btn {
      width: 100%;
      padding: 8px 25px;
  }
  .recover-register {
      float: left;
  }
}
.sign-in-width {
  padding: 30px 15px;
}
/* Contact Pages End */





/*Table for log*/

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #858796;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #e3e6f0;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #e3e6f0;
}

.table tbody + tbody {
  border-top: 2px solid #e3e6f0;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #e3e6f0;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #e3e6f0;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
  border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  color: #858796;
  background-color: rgba(0, 0, 0, 0.075);
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #cdd8f6;
}

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody + tbody {
  border-color: #a3b6ee;
}

.table-hover .table-primary:hover {
  background-color: #b7c7f2;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #b7c7f2;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #dddde2;
}

.table-secondary th,
.table-secondary td,
.table-secondary thead th,
.table-secondary tbody + tbody {
  border-color: #c0c1c8;
}

.table-hover .table-secondary:hover {
  background-color: #cfcfd6;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
  background-color: #cfcfd6;
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #bff0de;
}

.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody + tbody {
  border-color: #89e2c2;
}

.table-hover .table-success:hover {
  background-color: #aaebd3;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #aaebd3;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #c7ebf1;
}

.table-info th,
.table-info td,
.table-info thead th,
.table-info tbody + tbody {
  border-color: #96dbe4;
}

.table-hover .table-info:hover {
  background-color: #b3e4ec;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #b3e4ec;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #fceec9;
}

.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody + tbody {
  border-color: #fadf9b;
}

.table-hover .table-warning:hover {
  background-color: #fbe6b1;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #fbe6b1;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f8ccc8;
}

.table-danger th,
.table-danger td,
.table-danger thead th,
.table-danger tbody + tbody {
  border-color: #f3a199;
}

.table-hover .table-danger:hover {
  background-color: #f5b7b1;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #f5b7b1;
}

.table-light,
.table-light > th,
.table-light > td {
  background-color: #fdfdfe;
}

.table-light th,
.table-light td,
.table-light thead th,
.table-light tbody + tbody {
  border-color: #fbfcfd;
}

.table-hover .table-light:hover {
  background-color: #ececf6;
}

.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
  background-color: #ececf6;
}

.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #d1d1d5;
}

.table-dark th,
.table-dark td,
.table-dark thead th,
.table-dark tbody + tbody {
  border-color: #a9aab1;
}

.table-hover .table-dark:hover {
  background-color: #c4c4c9;
}

.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
  background-color: #c4c4c9;
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table .thead-dark th {
  color: #fff;
  background-color: #5a5c69;
  border-color: #6c6e7e;
}

.table .thead-light th {
  color: #6e707e;
  background-color: #eaecf4;
  border-color: #e3e6f0;
}

.table-dark {
  color: #fff;
  background-color: #5a5c69;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
  border-color: #6c6e7e;
}

.table-dark.table-bordered {
  border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

.table-dark.table-hover tbody tr:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.075);
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-sm > .table-bordered {
    border: 0;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-md > .table-bordered {
    border: 0;
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-lg > .table-bordered {
    border: 0;
  }
}

@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-xl > .table-bordered {
    border: 0;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-responsive > .table-bordered {
  border: 0;
}




/*Profile update*/
.mat-card {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
  margin: 0 15px 30px;
  padding: 0px !important;
  border-radius:0%;

  .mat-card-content {
    font-size: 1rem;
    line-height: 23px;
    padding: 24px;
  }
  .mat-card-image {
    width: calc(100% + 0px);
    margin: 0 0px 0px 0px;
  }
  .mat-card-header {
    padding: 12px;
    border-radius: 0px 0px 0 0;
    .mat-card-title {
      margin-bottom: 2px;
      font-size: 20px;
    }
    .mat-card-subtitle,
    .mat-card-subtitle:not(:first-child) {
      margin-bottom: 0px;
      margin-top: 0px;
      font-size: 14px;
    }
    &.text-white {
      .mat-card-title {
        color: white;
      }
      .mat-card-subtitle {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
  .mat-card-title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .mat-card-subtitle {
    margin-bottom: 20px;
  }
  .mat-card-actions {
    margin: 0px !important;
  }
}

.mat-mdc-card{
  margin-bottom: 30px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
  .mat-mdc-card-content{
    font-size: 1rem;
    line-height: 23px;
    padding: 24px;
  }
  .mat-mdc-card-image {
    width: calc(100% + 0px);
    margin: 0 0px 0px 0px;
  }
  .mat-mdc-card-title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .mat-mdc-card-subtitle {
    margin-bottom: 20px;
  }
  .mat-mdc-card-actions {
    margin: 0px !important;
  }
}


.mat-form-field-underline {
  background-color: rgba(0, 0, 0, 0.25);
}
.mat-form-field {
  width: 100%;
}


@media (min-width: 1650px) {
  .main-container.boxed {
    max-width: 1920px;
    margin: 0 auto;
  }
}
/*==============================================================
 For Laptop & above all (1370px)
 ============================================================== */

@media (max-width: 1600px) {
  .main-container.boxed {
    max-width: 1300px;
    margin: 0 auto;
  }
}

/*-- ==============================================================
 Small Desktop & above all (1024px)
 ============================================================== */

@media (min-width: 1024px) {
  .card-group {
    padding: 0 15px;
    display: flex;
    flex-flow: row wrap;
    .mat-card {
      margin: 15px 0px;
      flex: 1 0 0%;
      border-left: 1px solid ;
      &:first-child {
        border: 0px;
      }
    }
  }
}

@media (max-width: 1023px) {
  .card-group {
    margin: 15px 0;
    .mat-card {
      margin: 0 15px;
      border-top: 1px solid ;
      &:first-child {
        border: 0px;
      }
    }
  }
}

/*-- ==============================================================
 Ipad & above all(768px)
 ============================================================== */

@media (min-width: 768px) {
  .navbar-header {
    width: 225px;
    flex-shrink: 0;
    .navbar-brand {
      padding-top: 0px;
    }
  }
}

/*-- ==============================================================
 Phone and below ipad(767px)
 ============================================================== */

@media (max-width: 767px) {
  .mat-toolbar-single-row {
    height: 64px !important;
  }
  .d-flex {
    display: block;
  }
  .no-block {
    display: flex;
  }
  .topbar{
    .navbar-header{
      .navbar-brand{
        .text-logo-icon{
          display: none;
        }
      }
    }
  }
}
