/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  margin: 20px auto;
  max-width: 1200px;
}

/* Header styles */
.list.row {
  margin-bottom: 20px;
}

/* Search bar styles */
.input-group.mb-3 {
  margin-bottom: 10px;
}

/* Filter by project name styles */
.form-group {
  margin-bottom: 20px;
}

.select-text {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* "Add" button styles */
.btn-success {
  background-color: #28a745;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-dialog {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.modal-header {
  padding: 10px;
  background-color: #f0f0f0;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
}

.modal-footer {
  padding: 10px;
  text-align: right;
}

.modal-footer button {
  margin-left: 5px;
}

/* Table styles */
.table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;

}

.table thead th {
  font-size: 18px;
  background-color: #f0f0f0;
  font-weight: bold;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.table tbody td {
  font-size: 16px;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.table tbody  a {
  text-decoration: none;
  color: #007bff;
}

.table tbody  button {
  margin-left: 5px;
  cursor: pointer;
}

/* "Remove All" button styles */
.mt-3 {
  margin-top: 20px;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

/* "Items per Page" dropdown styles */
select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Pagination styles */
.col-md-12 {
  text-align: center;
  margin-bottom: 20px;
}

.pagination-controls {
  display: inline-block;
}

.pagination-controls li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
}

.pagination-controls li a {
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pagination-controls li.active a {
  background-color: #007bff;
  color: #fff;
}
