<h2>User Details</h2>
<div  class="mat-elevation-z8">

<table mat-table [dataSource]="dataSource" >

    <ng-container matColumnDef="userid">
      <th mat-header-cell *matHeaderCellDef> UserId </th>
      <td mat-cell *matCellDef="let element let i = index"[class.active]="i == currentIndex"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element "> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element">
         <span *ngIf="element.isActive">Active</span>
         <span *ngIf="!element.isActive">InActive</span>

        </td>
    </ng-container>

    <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let element"> {{element.roles[0].name}} </td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
            <button  class="btn btn-outline-secondary"

      (click)="setActiveUser(currentUser)"
      routerLink="/user/{{element.id}}"><!-- -->
      Change



              </button> |


   <button class="btn btn-outline-danger" color="accent" (click)="FunctionDelete(element.id)">Delete</button>
        </td>
      </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
  </table>
  <div class="col-md-12">
    <mat-paginator [length]="100"
    [pageSize]="5"
    [pageSizeOptions]="[3,5, 10, 25, 100]"
    aria-label="Select page">
</mat-paginator>
  </div>


</div>
<button class="btn btn-outline-secondary" (click)="openModel()">
  <i class="fa fa-user-plus"></i>
  Add user</button>
<div class="modal" id="myModal">
  <div class="modal-dialog">
  <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Add user</h4>
      </div>
  <div class="modal-body">

    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="name">username</label>
          <input
            type="text"
            class="form-control"
            id="name"

            [(ngModel)]="user.username"
            name="name" required
          />
        </div>

        <div class="form-group">
          <label for="proxemToken">Email</label>
          <input type="email" placeholder="user@gamil.com"

            id="email"
            required
            [(ngModel)]="user.email"
            name="email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password"

            id="password"
            required
            [(ngModel)]="user.password"
            name="password" placeholder="password"
          />
          <input type="checkbox" (click)="myFunction()">Show Password

        </div>

         <div class="form-group">
          <label >Role</label>
          <select class="select-text" name="role"  [(ngModel)]="role">
            <option class="dropdown-item"  selected>Select an Option</option>
            <option class="dropdown-item" *ngFor="let role of roledata" >
              {{role.name}}
            </option>
          </select>
  </div>


      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="saveUser()" class="btn btn-dark">Save</button>
    <div *ngIf="submitted">
      <h4>User was registred successfully!</h4>
    </div>
    <button type="button" class="btn btn-secondary"(click)="cancel()" data-bs-dismiss="modal" >Cancel</button>
  </div>
</div></div></div>
<div class="modal" id="myModal2">
  <div class="modal-dialog">
  <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
      </div>
  <div class="modal-body">

    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="name">username</label>
          <input
            type="text"
            class="form-control"
            id="name"

            [(ngModel)]="currentUser.username"
            name="name" required
          />
        </div>

        <div class="form-group">
          <label for="proxemToken">Email</label>
          <input type="email" placeholder="user@gamil.com"

            id="email"
            required
            [(ngModel)]="currentUser.email"
            name="email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password"

            id="password"
            required
            [(ngModel)]="currentUser.password"
            name="password" placeholder="password"
          />
          <input type="checkbox" (click)="myFunction()">Show Password

          <div class="form-group">
            <label>Role</label>
            <select  class="select-text" name="role"  [(ngModel)]="currentUser.roles[0]">
              <option class="dropdown-item" *ngFor="let role of roledata"><!-- [value]="role.id"-->
                {{role.name}}
              </option>
            </select>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="saveUser()" class="btn btn-success">Submit</button>
    <div *ngIf="submitted">
      <h4>User was registred successfully!</h4>
    </div>
    <button type="button" class="btn btn-danger" (click)="cancel()" data-bs-dismiss="modal" >Cancel</button>
  </div>
</div></div></div>
<button class="m-3 btn btn-sm btn-danger" (click)="removeAllprojects()">
  Remove All
</button>
