  <div class="register-form">
    <form
      name="connector"
      #f="ngForm"
      (ngSubmit)="f.form.valid && onSubmit()"
      novalidate
    >
    <!--<div class="form-group">
      <label>Project name</label>
      <select  class="select-text"  [(ngModel)]="connector.projectName" name="projectName" #projectName="ngModel"
      [ngClass]="{ 'is-invalid': f.submitted && projectName.errors}" required>
      <option class="dropdown-item" value="undefined" selected>Select an Option</option>
        <option class="dropdown-item" *ngFor="let project of projects">{{project.name}}</option>

      </select>
 <div *ngIf="f.submitted && projectName.errors" class="invalid-feedback">
        <div *ngIf="projectName.errors['required']">Project name is required</div>
      </div>
    </div>
    -->


    <label>Project name</label>
    <mat-form-field>
      <mat-label>Project</mat-label>
      <select matNativeControl [(ngModel)]="connector.projectName" name="projectName" #projectName="ngModel"
      [ngClass]="{ 'is-invalid': f.submitted && projectName.errors}" required>
        <option value="" selected></option>
        <option *ngFor="let project of projects">
          {{project.name}}
        </option>
      </select>
      <div *ngIf="f.submitted && projectName.errors" class="invalid-feedback">
        <div *ngIf="projectName.errors['required']">Project name is required</div>
      </div>
    </mat-form-field>

        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" id="aa" [(ngModel)]="connector.name" name="name" required
          #name="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && name.errors }"/>

          <div *ngIf="f.submitted && name.errors" class="invalid-feedback">
            <div *ngIf="name.errors['required']">Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Column Delimiter</label>
          <input type="text" id="bb" class="form-control" [(ngModel)]="connector.separator" name="separator" required
          #separator="ngModel"   [ngClass]="{ 'is-invalid': f.submitted && separator.errors }"/>

          <div *ngIf="f.submitted && separator.errors" class="invalid-feedback">
            <div *ngIf="separator.errors['required']">Separator is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Encoding</label>
          <input type="text" id="cc" class="form-control" [(ngModel)]="connector.encoding" name="encoding" required
          #encoding="ngModel" [ngClass]="{ 'is-invalid': f.submitted && encoding.errors }"/>

          <div *ngIf="f.submitted && encoding.errors" class="invalid-feedback">
            <div *ngIf="encoding.errors['required']">Encoding is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Quoting caracter</label>
          <input id="dd" type="text" class="form-control" [(ngModel)]="connector.quotingCaracter" name="quotingCaracter" required />
        </div>
        <div class="form-group">
          <label>Escaping character</label>
          <input id="nn" name="escapingCaracter" type="text" class="form-control" required [(ngModel)]="connector.escapingCaracter" />
        </div>
        <div class="form-group">
          <input name="chek" class="form-check-input" type="checkbox" id="flexCheckChecked" checked [(ngModel)]="isChecked" value="containHeader" />
          <label class="form-check-label" for="flexCheckChecked"> Contain header </label>
        </div>
        <div class="form-group">
         <mat-toolbar *ngIf="currentFile" class="progress-bar">
            <mat-progress-bar color="accent" [value]="progress"></mat-progress-bar>
            <span >{{ progress }}%</span>
          </mat-toolbar>
          <mat-form-field>
            <div >
              <mat-toolbar>
                <input matInput [value]="fileName" id="file" name="fil"
               />
                <a mat-flat-button color="primary" [disabled]="!currentFile" (click)="upload()"> Upload </a>
              </mat-toolbar>
              <input type="file" id="fff" id="fileInput" (change)="selectFile($event)" name="fileInput" />
            </div>
          </mat-form-field>
        </div>
        <div *ngIf="message" class="message">
          {{ message }}
        </div>
        <!--
    <mat-card class="example-card"><mat-card-header><mat-card-title>List of Files</mat-card-title>
    </mat-card-header><mat-card-content><mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let file of fileInfos | async">
        <a href="{{ file.url }}">{{ file.name }}</a></mat-list-item></mat-list></mat-card-content></mat-card>
  -->
       <div class="row"> <a id="ret" mat-flat-button  (click)="onClick(this.connector.separator)">Retrieve fields</a>
        <!--<button type="button" (click)="PagePrecedente()">Precedente</button>
          <button (click)="removeFiles()">RemoveAll</button>-->
        </div><br>
          <div class="container">
          <div id="box" class="box" *ngFor="let field of result ; let i = index;">
            <div class="ui form">
              <div class="ui grid">
                <div class="sixteen wide right aligned column">
                  <div class="ui checkbox" style="margin-right: 1em;">
                    <input class="form-check-input" type="checkbox" id="flex_{{i}}"  name="zz_{{i}}"  [(ngModel)]="field.included"/>
                    <label class="form-check-label" for="flexCheckChecked"> Included </label>
                  </div>
                </div>
              </div>
              <div class="field">
                <label>Type of column</label>
                <br style="display: none;">
                <div class="ui fluid search dropdown selection">
                  <select id="select_{{i}}" [(ngModel)]="field.fieldType" name="fieldType{{i}}"
                  [disabled]="!field.included" >
                    <option value="Identifier">Identifier</option>
                    <option value="Title">Title</option>
                    <option value="Text">Text</option>
                    <option value="Date">Date</option>
                    <option value="Meta">Meta</option>
                    <option value="Language">Language</option>
                  </select>
                  <i class="dropdown icon"></i>
                </div>
              </div>
              <div class="field" *ngIf="field.fieldType=='Meta'">
                <label>Name of meta</label>
                <br>
                <input type="text" placeholder="Name of meta" [(ngModel)]="field.meta" [disabled]="!field.included" name="meta name{{i}}">
              </div>
              <div class="field">
                <label>Name of column</label>
                <br>
                <input type="text" [disabled]="!field.included"
                placeholder="Name of column" [(ngModel)]="field.name" name="name{{i}}">
              </div>
              <div class="field">
                <label>Overview:</label>
                <br style="display: none;">
                <div class="ui fluid search dropdown selection">
                  <select id="{{i}}" [disabled]="!field.included">
                    <option *ngFor="let cell of field.content" [value]="cell">{{cell}}</option>
                  </select>
                  <i class="dropdown icon"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
        <button id="save" type="submit" name="reg"  (click)="onSubmit()" class="btn btn-dark" ><!-- [disabled]="disabled"-->
          Save</button>

        <button name="Can" type="button" (click)="changementDePage()" class="btn btn-danger">Cancel</button>

       <button id="reset" name="res" type="button" (click)="onReset(f)" class="btn btn-warning float-right">
          Reset </button>
        </div>
    </form>
    </div>



