<div class="container">
  <h3></h3>
  <h4>Welcome</h4>

  <div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="navbar-nav mr-auto">

        <li class="nav-item">
          <a routerLink="addP" class="nav-link">Add Project</a>
        </li>
        <li class="nav-item">
          <a routerLink="projects" class="nav-link">Projects</a>
        </li>
      </div>
    </nav>

    <div class="container mt-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


