<div *ngIf="viewMode; else editable">
  <div *ngIf="currentScheduler.id">
    <h4>currentScheduler</h4>
    <a routerLink="/sched/{{currentScheduler.id}}">  </a>
  </div>
  <div *ngIf="!currentScheduler">
    <br />
    <p>Please click on a currentScheduler...</p>
  </div>
</div>
<ng-template #editable>
  <div *ngIf="currentScheduler.id" class="edit-form">
<mat-card>
  <mat-tab-group mat-stretch-tabs="false">
      <!-- Tab 2 -->
      <mat-tab label="Profile">
          <mat-card-content>
              <mat-card-title>Updating Scheduler</mat-card-title>
              <!-- ============================================================== -->
              <!--column -->
              <!-- ============================================================== -->
              <form class="basic-form">
                  <div class="row">
                      <!-- column -->
                      <div class="col-12">
                        <label for="description">Name</label>

                        <input
                        class="form-control"
                        id="description"
                        required
                        [(ngModel)]="currentScheduler.name"
                        name="description"
                      />

                      </div>
                      <div class="col-12">
                        <label for=""> Scheduling mode </label>


        <select id="m"  [(ngModel)]="currentScheduler.scanMode" class="form-control" name="modeSched">

          <option value="Once">Once</option>
          <option value="Cron">Cron</option>

        </select>
                    </div>
                      <!-- column -->
                      <div class="col-12">
                        <label for=""> Start time </label>

                        <input id="st" type="text"  [(ngModel)]="currentScheduler.startsTime" name="s" placeholder="YYYY-MM-DDTHH:MM:SS"><br>

                      </div>
                      <!-- column -->
                      <div class="field" *ngIf="currentScheduler.scanMode=='Cron'">
                      <div class="col-12">

        <input id="ent" type="text"  [(ngModel)]="currentScheduler.endTime" name="endT" placeholder="YYYY-MM-DDTHH:MM:SS"><br>

                      </div>

                      <!-- column -->


                      <!-- column -->
                      <div class="col-12">

         <input id="cr" type="text" placeholder="cronExpression" [(ngModel)]="currentScheduler.cronExpression" name="cro">

                      </div>
                    </div>
                      <!-- column -->
                      <div class="col-12">
                          <button mat-flat-button color="primary" (click)=" updateScheduler(currentScheduler,currentScheduler.id)">Update Scheduler<span class="material-icons">
                            play_arrow
                            </span></button>
                      </div>
                  </div>
              </form>
          </mat-card-content>
      </mat-tab>
  </mat-tab-group>
</mat-card>

<p>{{ message }}</p>
</div>

<div *ngIf="!currentScheduler.id">
  <br />
  <p>Cannot access this currentScheduler...</p>
</div>
</ng-template>
